{$DOMAIN_NAME} {
    # Маршруты для API и SignalR
    handle /api/* {
        reverse_proxy api:8080
    }
    
    handle /notifications* {
        reverse_proxy api:8080
    }

    handle /swagger/* {
        reverse_proxy api:8080
    }

    # Все остальные запросы отправляем на React Frontend (Nginx)
    handle {
        reverse_proxy frontend:80
    }
}
